</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>  &#169; Copyright <%= new Date().getFullYear() %>  <a href="https://ashusharma.in/" target="_blank"> Ashu Sharma </a></p>
  </div>
</div>
</body>
</html>
